 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-Black.ttf");
     font-weight: 900;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-BlackItalic.ttf");
     font-weight: 900;
     font-style: italic;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-ExtraBold.ttf");
     font-weight: 800;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-ExtraBoldItalic.ttf");
     font-weight: 800;
     font-style: italic;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-Bold.ttf");
     font-weight: 700;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-BoldItalic.ttf");
     font-weight: 700;
     font-style: italic;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-SemiBold.ttf");
     font-weight: 600;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-SemiBoldItalic.ttf");
     font-weight: 600;
     font-style: italic;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-Medium.ttf");
     font-weight: 500;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-MediumItalic.ttf");
     font-weight: 500;
     font-style: italic;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-Regular.ttf");
     font-weight: 400;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-Italic.ttf");
     font-weight: 400;
     font-style: italic;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-Light.ttf");
     font-weight: 300;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-LightItalic.ttf");
     font-weight: 300;
     font-style: italic;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-ExtraLight.ttf");
     font-weight: 200;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-ExtraLightItalic.ttf");
     font-weight: 200;
     font-style: italic;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-Thin.ttf");
     font-weight: 100;
 }

 @font-face {
     font-family: "Barlow";
     src: url("./../utils/font/Barlow-ThinItalic.ttf");
     font-weight: 100;
     font-style: italic;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-Black.ttf");
     font-weight: 900;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-BlackItalic.ttf");
     font-weight: 900;
     font-style: italic;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-BoldCondensed.ttf");
     font-weight: 600;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-BoldCondensedItalic.ttf");
     font-weight: 600;
     font-style: italic;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-Bold.ttf");
     font-weight: 700;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-BoldItalic.ttf");
     font-weight: 700;
     font-style: italic;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-Medium.ttf");
     font-weight: 500;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-MediumItalic.ttf");
     font-weight: 500;
     font-style: italic;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-Regular.ttf");
     font-weight: 400;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-Italic.ttf");
     font-weight: 400;
     font-style: italic;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-Light.ttf");
     font-weight: 300;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-LightItalic.ttf");
     font-weight: 300;
     font-style: italic;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-Condensed.ttf");
     font-weight: 200;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-CondensedItalic.ttf");
     font-weight: 200;
     font-style: italic;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-Thin.ttf");
     font-weight: 100;
 }

 @font-face {
     font-family: "Roboto";
     src: url("./../utils/font/Roboto-ThinItalic.ttf");
     font-weight: 100;
     font-style: italic;
 }





 * {
     font-family: "Barlow";
 }

 .Roboto{
    font-family: "Roboto";
 }